/* font-family: 'Montserrat', sans-serif; */

html {
    font-size: 1px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: 0;
    background: transparent;
    outline: none;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

:root {
    /* fonts */
    --main-fonts: 'Montserrat', sans-serif;

    /* Colors */
    --color-black: #2F281E;
    --color-orange: #FF9900;
    --color-white: #fff;
    --color-bg-modal: #2f281eaa;
    --color-border: #BCD0E5;
    --color-simpl-text: #544837;
    --color-btn-hover: #d28005;

    /* font-weight: 600; font-size: 16rem;/line-height: 20rem; font-family:*/
    --title-fonts: 700 44rem/54rem var(--main-fonts);
    --sub-title-fonts: 700 36rem/44rem var(--main-fonts);
    --h3-fonts: 600 22rem/44rem var(--main-fonts);
    --simple-text-fonts: 500 16rem/26rem var(--main-fonts);
    --hero-text-fonts: 400 18rem/28rem var(--main-fonts);
    --text-fonts: 500 16rem/26rem var(--main-fonts);
    --btn-fonts: 600 16rem/20rem var(--main-fonts);
    --link-fonts: 400 15rem/20rem var(--main-fonts);

    /* spasing */
    --r-4: 4rem;
    --header-top: 80rem;
}

@media (max-width: 992px) {
    :root {
        --title-fonts: 700 34rem/44rem var(--main-fonts);
        --link-fonts: 700 20rem/20rem var(--main-fonts);
    }
}

@media (max-width: 767px) {
    :root {
        --title-fonts: 700 29rem/44rem var(--main-fonts);
        --sub-title-fonts: 700 25rem/39rem var(--main-fonts);

    }
}

body {
    color: var(--color-black);
    font: var(--text-fonts);
}

.wrapper {
    overflow: hidden;
}

.fix-body {
    overflow: hidden;
}

.container {
    max-width: 1200rem;
    margin: 0 auto;
    padding: 0 10rem;
}

.logo {
    width: 120rem;
}

.title {
    font: var(--title-fonts);
}

.h2 {
    font: var(--sub-title-fonts);
}

.h3 {
    font: var(--h3-fonts);
}

.simple-text {
    font: var(--color-simpl-text);
}


.inp {
    display: block;
    border: 1rem solid var(--color-border);
    padding: 10rem;
    height: 50rem;
    border-radius: 4rem;
}

.link {
    font: var(--link-fonts);
    color: var(--color-black);
    display: flex;
    gap: 4rem;
    transition: transform 0.6s;
}

.link:hover {
    color: var(--color-orange);
}

.link:hover .link--arrow {
    transform: scaleY(1);
}

.link--arrow {
    transform: scaleY(-1);
    width: 15rem;
    height: 20rem;
    display: block;
    transition: transform 0.6s;
}

.btn {
    font: var(--btn-fonts);
    color: var(--color-white);
    background-color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 22rem;
    border-radius: var(--r-4);
    border: 1rem solid transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--color-btn-hover);
}

.btn--line {
    color: var(--color-black);
    background-color: transparent;
    border: 1rem solid var(--color-border);
}

.btn--line:hover {
    color: var(--color-white);
    background-color: var(--color-orange);
    border: 1rem solid transparent;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg-modal);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.visible {
    visibility: visible;

}

.visible .form-login {
    transform: translateX(0rem);
    opacity: 1;
    transition: all .5s;
}

.form-login {
    background-color: var(--color-white);
    width: 100%;
    max-width: 350rem;
    padding: 30rem;
    border: 1rem solid;
    border-radius: 20rem;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    position: relative;
    transform: translateX(-300rem);
    opacity: 0;
    transition: all .5s;
}

.form-login__close {
    position: absolute;
    top: 20rem;
    right: 20rem;
    cursor: pointer;
}


/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 17rem 0;
    z-index: 30;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: -4rem 6rem 17rem -8rem rgba(0, 0, 0, 0.75);
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    gap: 20rem;

}

.header__btn-container {
    display: flex;
    gap: 32rem;
}

.header__nav-item {
    position: relative;
}

.header__nav-item:hover .header__drop-down {
    max-height: 2000rem;
}

.header__drop-down {
    position: absolute;
    background: var(--color-white);
    width: 100%;
    contain: paint;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    max-height: 0;
    transition: max-height 0.5s;
}

.header__gamb {
    width: 40rem;
    height: 40rem;
    display: none;
    position: relative;
}

.header__gamb-line {
    position: absolute;
    top: 20rem;
    left: 0;
    width: 40rem;
    height: 1rem;
    background-color: var(--color-black);
    transition: transform 0.6s;
}

.header__gamb-line--top {
    top: 10rem;
}

.header__gamb-line--bottom {
    top: 30rem;
}

/* Header End */

/* Hero */
.hero {
    padding: var(--header-top) 0 0;
}

.hero__content {
    max-width: 500rem;
    position: relative;
}

.hero__title {
    margin-bottom: 30rem;

}

.hero__text {
    margin-bottom: 20rem;

    font: var(--hero-text-fonts);
}

.hero__img {
    max-width: 644rem;
    width: 140%;
    position: absolute;
    right: -700rem;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.hero__container {
    position: relative;
    padding: 167rem 10rem 196rem;
}

/* Hero End */
/* Product */
.product {
    padding: 100rem 0 50rem;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: bottom center;

}

.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    text-align: center;
    max-width: 540rem;
    margin: 0 0 50rem;

}

.product__icon {
    width: 50rem;
    margin: 0 0 30rem;
}

.product__item-title {
    margin: 0 0 16rem;
}

.product__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20rem;
    justify-content: space-between;
    margin-bottom: 70rem;
}

/* Product End */


/* Tab version */

@media (max-width: 992px) {
    .header__nav.active .header__nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30rem;
        position: absolute;
        background-color: var(--color-white);
        left: 0;
        width: 100%;
        height: 100vh;


    }



    .header__nav.active .header__gamb-line--middle {
        width: 0;
    }

    .header__nav.active .header__gamb-line--top {
        transform: rotate(45deg) translate(6rem, 6rem);
    }

    .header__nav.active .header__gamb-line--bottom {
        transform: rotate(135deg) translate(-8rem, 7rem);
    }

    .header__drop-down {
        position: static;
        height: 0;
    }

    .header__nav-item:hover .header__drop-down {
        height: auto;
    }

    .header__gamb {
        display: block;
    }

    .header__nav-container {
        display: none;
    }

    .header__btn-container {
        display: none;
    }

    .hero__img {
        max-width: 414rem;
        transform: translateY(-51%);
        z-index: -1;
        right: -420rem;
    }



    .hero__content {
        max-width: 320rem;
        position: relative;
    }

    .hero__container {

        padding: 67rem 30rem 56rem;
    }

    .product__row {
        grid-template-columns: repeat(2, 1fr);
        gap: 70rem 20rem;
    }
}

/* 
mobail */

@media (max-width: 767px) {


    .btn {
        margin: 0 auto;
        width: 100%;
    }

    .hero__container {

        padding: 40rem 30rem;
    }

    .hero__img {

        position: static;
        max-width: 100%;
        transform: none;

    }

    .hero__title {
        text-align: center;
        margin-bottom: 16rem;
    }

    .hero__text {
        text-align: center;
    }

    .hero__content {
        max-width: 100%;

    }

    .product__row {
        grid-template-columns: repeat(1, 1fr);

    }

    .product__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}